<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LENGUA Y LITERATURA</title>
		<link rel="stylesheet" href="css/style_login.css">
	</head>
	<body>
		<div class="box">
			
			<form autocomplete="off" action="/login"  method="post">
				<h2>LOGIN</h2>
				<div class="inputBox">
					<input type="text" name="userName">
					<span>USUARIO</span>
					<i></i>
				</div>
				<div class="inputBox">
					<input type="password"  name="password_">
					<span>CONTRASEÑA</span>
					<i></i>
				</div>
				<div class="links">
					<a href="#">REGISTRARSE</a>
				</div>
				<div class="btn_">
					<button type="submit" value="admin_" name="admin_" id="btn1">ENTRAR</button>
					<button type="submit" value="admin_" name="guest" id="btn2">VER</button>
				</div>
			


			</form>
		</div>
	</body>
</html>